body::before {
    content: "";
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("/Assets/fifaAchtergrond.png") no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}
body{
    overflow-y: auto ;
    overflow-x: hidden ;
    position: relative;
    z-index: 0;
}
h2 {
    color: black;
    background-color: #07F468;
    width: 250px;
    text-align: start;
}

.container.mt-5 {
    margin-top: 5px !important;
}

.club-name{
    font-size: 40px;
}   

.club-details{
    display: flex; justify-content: space-between; align-items: flex-start;
}
.club-detail-box {
    background-color: #07F468; 
    border-radius: 10px; 
    padding: 1rem;
    padding-top: 0; 
}

.club-header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.club-header img {
    width: 800px; 
    margin-left: auto;
    margin-right: 0 ; 
}

@media (max-width: 768px) {
    body {
        background-color: white; 
    }

    .club-header img {
        width: 150px; 
        margin: 0 auto; 
    }
}
@media (max-width: 560px) {
  .club-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 360px) {
    .mb-3 {
        align-items: start;
        flex-direction: column;
    }
    
    .list-group-item img {
        width: 50px; 
        height: 50px; 
    }
    .club-name {
        flex-grow: 1; 
        text-align: left;
    }
    body{
        margin: 0; 
        padding: 0; 
        width: 100%;
        height: 100%;
        overflow-x: hidden !important;
      }
}   