body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: url("/Assets/fifaAchtergrond.png") no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}
.league {
  margin: 0 auto;
  max-width: 90%;
}
h1 {
  background-color: #07f468;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}
h2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
}

select.form-select {
  max-width: 400px;
  margin: 10px auto;
}
label {
  font-size: 1rem;
}
.user-icon-btn {
  font-size: 2rem;
  border: none;
  background: none;
  color: #000;
}
.dropdown{
    position: absolute;
    right: 0px; 
    top: 0px;
    width: 70px;
    height: 70px; 
    cursor: pointer; 
}

.dropdown-toggle::after {
  display: none;
}
.modal-body input[readonly] {
  background-color: #e9e9e9 !important;
  border: 1px solid #ccc;
  color: #555;
}

.modal-body input:not([readonly]) {
  background-color: #fff;
  border: 1px solid #07f468;
}

#saveProfileBtn {
  background-color: #07f468;
  border: none;
  color: #000;
}

#saveProfileBtn:hover {
  background-color: #06c15e;
}

#cancelProfileBtn {
  background-color: #dc3545;
  border: none;
  color: #000;
}

#cancelProfileBtn:hover {
  background-color: #c82333;
}

.league {
  border: 2px solid #07f468;
  border-radius: 12px;
  padding: 20px;
  background-color: #07f468;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.league-icons img{
  width: 120px;
  height: auto;
  margin: 0 10px;
}
.message {
  font-size: 1rem;
  color: #333;
  text-align: center;
  padding: 15px;
  background-color: #ffcc00;
  border-radius: 8px;
  display: none;
  margin-top: 10px;
}

.info {
  background-color: #b6ffbd;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  font-weight: bold;
}


.list-button,
.remove-button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-button {
  background-color: #ccc;
  color: #000;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
}

.profile-icon {
  width: 70px;
  height: 70px;
}

.profile-icon:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .league img {
    width: 70px;
  }
.league  {
    margin-bottom: 20px;
  }
  h1, h2 {
    font-size: 1.7rem;
  }
  #selectedClub-info .col-md-6 {
    text-align: center !important;
  }

  #selectedClub-info img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
  }
.league-icons img{
  width: 80px;
}
}