body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: url("/Assets/fifaAchtergrond.png") no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

h1 {
  background-color: #07f468;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

label {
  font-size: 1rem;
}
.user-icon-btn {
  font-size: 2rem;
  border: none;
  background: none;
  color: #000;
}
.dropdown{
    position: absolute;
    right: 0px; 
    top: 0px;
    width: 70px;
    height: 70px; 
    cursor: pointer; 
}

.dropdown-toggle::after {
  display: none;
}
.modal-body input[readonly] {
  background-color: #e9e9e9 !important;
  border: 1px solid #ccc;
  color: #555;
}

.modal-body input:not([readonly]) {
  background-color: #fff;
  border: 1px solid #07f468;
}

#saveProfileBtn {
  background-color: #07f468;
  border: none;
  color: #000;
}

#saveProfileBtn:hover {
  background-color: #06c15e;
}

#cancelProfileBtn {
  background-color: #dc3545;
  border: none;
  color: #000;
}

#cancelProfileBtn:hover {
  background-color: #c82333;
}

.leaguesContainer {
  margin: 5rem;
}

.league {
  border: 2px solid green;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  background-color: #07f468;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.league img {
  width: 90px;
  height: auto;
  margin-right: 10px;
}

.message {
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 20px;
  background-color: #ffcc00;
  border-radius: 8px;
  display: none;
}

.info {
  width: 100%;
  background-color: rgb(84, 255, 72);
  padding: 5px;
  margin-top: 10px;
}

.heart-container {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.heart {
  font-size: 24px;
  color: #f44336;
}

.heart.liked {
  color: #ff4081;
}

.list-button,
.remove-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-button {
  background-color: #ccc;
  color: #000;
}

.remove-button {
  background-color: red;
  color: #fff;
}

.profile-icon {
  width: 70px;
  height: 70px;
}
.profile-icon:hover {
  opacity: 0.61;
}
.dropdown {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .leaguesContainer {
    margin: 2rem;
  }
}
