
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 70px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: url("/Assets/fifaAchtergrond.png") no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

#main-container {
  height: calc(100vh - 56px);
}

#options-container .option-btn {
  height: 60px;
  font-size: 1rem;
}

#quiz-box {
  max-width: 600px;
  background-color: #e0e2e5 !important;
}

#play-again {
  background-color: #07F468;
  color: #000;
  border: none;
}

#play-again:hover {
  background-color: #06c15e;
  color: #000;
}

#end-screen h3 ~ * {
  margin-top: 1rem;
}

#end-screen p:nth-of-type(2) {
  font-weight: bold;
}

.quiz-popup {
  position: absolute;
  bottom: 100%;
  margin-bottom: -150px;
}

.badge-img {
  max-height: 250px;
  width: 250px;
  cursor: pointer;
}

.club-photo {
  width: 80%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.option-btn {
  background-color: #07F468;
  color: #000;
  border: none;
}

.option-btn:hover,
.option-btn:focus {
  background-color: #06c15e;
  color: #000;
}

.option-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(7, 244, 104, 0.5);
}

#save-score {
  background-color: #07F468;
  color: #000;
  border: none;
}
#save-score:hover,
#save-score:focus {
  background-color: #06c15e;
  color: #000;
}

#thumbs-up,
#thumbs-down {
  border: none;
  color: #000;
  font-size: 1.5rem;
}
#thumbs-up {
  background-color: #07F468;
}
#thumbs-down {
  background-color: #dc3545;
}

#thumbs-up:hover,
#thumbs-up:focus {
  background-color: #06c15e;
}
#thumbs-down:hover,
#thumbs-down:focus {
  background-color: #c82333;
}

#thumbs-up i,
#thumbs-down i {
  color: #000;
}

