body ::before{
    content: "";
    position: fixed;
    top: 70px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("./assets/fifaAchtergrond.png") no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}
h1{
    background-color: #07F468; 
    color: black; 
    padding: 10px 20px;
    font-weight: bold; 
    border-radius: 5px; 
}
h2 {
    color: white;
    background-color: #07F468;
    width: 250px;
    text-align: center;
    margin: 0 auto; 
}

.container.mt-5 {
    margin-top: 5px !important;
}
.list-group-item {
    background-color: #07F468; 
    color: white;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    height: 110px;
    display: grid;
    grid-template-columns: .3fr 1fr .5fr .4fr;
}

.list-group-item span {
    font-weight: bold;
}

.list-group-item img{
    height: 100px;
    width: 100px;
}

.club-name{
    font-size: 40px;
}
.mb-4{
    color: black;
    top: 10px;
}
.mb-3{
    display: flex;
    width: 350px;
}




@media (max-width: 768px) {
    body {
        background-color: white; 
    }

    h1 {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #07F468;
    }

    .form-group {
        visibility: hidden; 
    }
    
    

    .mb-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    .mb-3 input {
        flex-grow: 1;
        max-width: 70%;
    }

    .list-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        background-color: #07F468;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
    }

    .list-group-item img {
        width: 70px; 
        height: 70px; 
    }

    .list-group-item span {
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }

    .list-group-item button {
        background-color: black;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
    }

    .list-group-item button:hover {
        background-color: gray;
    }
}
